<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSVP</title>
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="/styles/attendees.css" />
  </head>
  <body>
    <h1>Total Attendees: <%= total %></h1>

    <table class="uk-table uk-table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Attending</th>
          <!-- <th>Plus One</th> -->
        </tr>
      </thead>
      <tbody>
        <% attendees.forEach(attendee => { %>
        <!-- row -->
        <tr class="attendee">
          <td><%= attendee.name %></td>
          <td><%= attendee.email %></td>
          <td><% if (attendee.status) { %> Yes <% } else { %> No <% } %></td>
        </tr>
        <% if (attendee.additions.length) { %>
        <tr class="additions">
          <th>Additions</th>
          <td>Name</td>
          <td></td>
        </tr>
        <% attendee.additions.forEach(addition => { %>
        <tr class="additions_sub">
          <td></td>
          <td><%= addition.name %></td>
          <td></td>
        </tr>
        <% }) %> <% } %> <% }) %>
      </tbody>
    </table>
  </body>
</html>
