<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSVP</title>

    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"
      defer
    ></script>
    <script src="/scripts/app.js" defer></script>

    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <img
      class="uk-animation-stroke"
      src="/images/reindeer.svg"
      uk-svg="stroke-animation: true"
    />
    <img class="flowers flowers_left" src="/images/flowers.png" alt="flowers" />
    <img
      class="flowers flowers_right"
      src="/images/flowers.png"
      alt="flowers"
    />
    <img class="flowers_top" src="/images/flowers.png" alt="flowers" />
    <h1 class="header_name">Justis-Hart</h1>
    <h2 class="header_date">April 17th, 2021 @ 4pm pst</h2>
    <h2 class="header_location">13616 E Bullard Ave Clovis, Ca</h2>
    <button id="rsvp" class="uk-button uk-button-primary hidden">RSVP</button>

    <a
      href="https://www.zola.com/registry/justishartwedding"
      id="registry"
      class="uk-button uk-button-primary hidden"
    >
      Wedding Registry
    </a>

    <form class="uk-form-large" id="rsvp__form"></form>
  </body>
</html>
