* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

#rsvp__form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
