* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#rsvp__form {
  max-width: 500px;
}

.uk-animation-stroke {
  position: absolute;
  bottom: -150px;
  width: 80%;
  z-index: -1;
}
